<launch>
    <!-- Arguments -->
    <arg name="model" default="$(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find turtlebot3_description)/rviz/model.rviz" />

    <!-- Parameters -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
    <param name="use_gui" value="$(arg gui)" />

    <!-- Nodes -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>

